.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1{
margin-bottom: 20px;
}
label{
  display: block;
  margin-bottom: 10px;
}
input{
  padding: 5px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button{
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: antiquewhite;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: cadetblue;

}
p{
  margin-top: 20px;
  font-weight: bold;
}